/* src/assets/styles.css */



/* General navbar styling */
.navbar {
    background-color: #333; /* Dark background */
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.5em; /* Larger text for the brand/logo */
    font-weight: bold;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-item:hover {
    background-color: #555; /* Slightly lighter background on hover */
    color: #ddd; /* Lighter text on hover */
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    z-index: -1;
}
